.user-details {
  align-items: center;
  color: $body-color;
  display: flex;
  flex-direction: column;

  .user-name {
    font-size: $size;
  }

  .user-name,
  .description {
    padding: 8px;
    text-align: center;
  }

  a {
    color: $body-color;
    text-decoration: none;
  }
}
